body{
    margin:2%;
    border:1px solid black;
    background-color: #b3b3b3;
    
}
#image{
    margin-top:25px !important;
    margin-bottom: 25px !important;
    line-height:300px;
    width:450px;
    height:300px;
    border:5px solid black;
    margin:0 auto;
    background-color: #8e68ff;
    background-image: url('');
    background-repeat: no-repeat;
    color:#ffffff;
    text-align: center !important;
    background-size: 100%;
    margin-bottom:75px;
    font-size: 150%;
}

.preview{
    widows: 10%;
    margin-left:10% !important;
    border:10px solid black;
    margin-bottom: 25px !important;
}

img{
    width:20%;
    height:35%;
}